[user]
    #email = put email here
    #name = put email here
[core]
	editor = vim
    excludesfile = ~/.gitignore_global
    #attributesfile = ~/.gitattributes
	autocrlf = false
	filemode = false
	filemode = false
	eol = lf
[credential]
	helper = 2592000
[merge]
	tool = vimdiff
[branch]
	autosetupmerge = always
